body
{
background-image: linear-gradient(rgba(204, 255, 204),rgb(204, 255, 204));
background-size: cover;
background-position: center;
}
.booking-form-box
{
max-width:1000px;
border: 1px solid #000000;
margin: 10% auto 0;
}

.radio-btn
{
margin: 0 20px;
}
.radio-btn.btn
{
margin: 20px 10px 20px 0;
box-shadow: none;
}
.radio-btn.btn::after
{
content: '';
height: 15px;
width: 15px;
top: -2px;
left: -1px;
background-color: #000000;
position: relative;
display: inline-block;
border: 3px solid #000000;
visibility: visible;
border-radius: 50%
}
.radio-btn span
{
color:#000000;
margin-right: 17px;
font-size: 15px;
}
.booking-form
{
padding: 20px 20px 20px;
}
.booking-form label
{

font-size:15 ;
}
.booking-form1
{
padding: 5px 20px 20px;
}
.booking-form label
{

font-size:15 ;
}
.input-grp
{
padding: 5px 20px 20px;
}
.input-grp label
{

font-size:15 ;
}
.input-grp1
{
padding: 5px 20px 20px;
}
.input-grp1 label
{

font-size:15 ;
}

.input-grp2-btn
{
margin: 0 20px;
}
.input-grp2.btn
{
margin: 20px 10px 20px 0;
box-shadow: none;
}
.input-grp2.btn::after
{
content: '';
height: 15px;
width: 15px;
top: -2px;
left: -1px;
background-color: #000000;
position: relative;
display: inline-block;
border: 3px solid #000000;
visibility: visible;
border-radius: 50%
}
.input-grp2-btn span
{
color:#000000;
margin-right: 17px;
font-size: 15px;
}
.form-control
{
font-size: 12px!important;
border-radius: 0!important
color:#fff!important;
background: #fff!important;
box-shadow: none!important;
}
.booking-form-box2
{
max-width:1000px;
border: 1px solid #000000;
margin: 10% auto 0;
}
.inut-grp3
{
padding: 20px 20px 20px;
}
.input-grp1 label
{
font-size:15 ;
}
.inut-grp4
{
padding: 5px 20px 20px;
}
.input-grp4 label
{
font-size:15 ;
}

.input-grp7.btn
{
margin: 20px 10px 20px 0;
box-shadow: none;
}

.input-grp7.btn::after
{
content: '';
height: 15px;
width: 15px;
top: -2px;
left: -1px;
background-color: #000000;
position: relative;
display: inline-block;
border: 3px solid #000000;
visibility: visible;
border-radius: 50%
}

.input-grp7-btn span
{
color:#000000;
margin-right: 17px;
font-size: 15px;
}
